*~
*.eprj
*.svn
*.pyc
*.pyo
*.orig
*.o
*.so
*.class
*.dmg
.DS_Store
.password

default.mf
indexer_error.log
indexer_output.log
dist/*.jar
src/main/config/build.properties

*.aof
*.rdb
*.db

*.doc
*.docx

*.dropbox
.dropbox
npm-debug.log
