*~
\#*\#
stdout
*.eprj
*.svn
*.pyc
*.pyo
*.orig
*.o
*.so
*.class
*.dmg
.DS_Store
.password

default.mf
dist/lire-request-handler.jar
src/main/config/build.properties

*.aof
*.rdb
*.db

*.doc
*.docx

*.dropbox
.dropbox
npm-debug.log

bin/
build/
dist/
sdist/
include/
lib/
!local/lib/
local/lib/solr/
man/
share/
var/cache/
var/logs/
var/run/
!var/db/
!var/web/

